# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Build files
.rebuild

# Environments
.env
.venv
venv/
ENV/

# VS Code
.vscode

# macOS
.DS_Store

# reference and output files
Data/

get-pip.py*