# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Build files
.rebuild

# Environments
.env
.venv
venv/
ENV/

# VS Code
.vscode

# macOS
.DS_Store

# plot output
Data/output
