# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.ipynb

# Build files
.rebuild
dist/
*.egg-info

# Environments
.env
.venv
venv/
ENV/

# VS Code
.vscode

# profiling
prof/

# macOS
.DS_Store

# reference and output files
Data/

get-pip.py*