name: build

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  UV_PROJECT_ENVIRONMENT: '/usr/local'

jobs:
  lint:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13.1'
          cache: pip
          cache-dependency-path: 'requirements-dev.txt'

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install Python dependencies
        run: make install-dev

      - name: Run lint checks
        run: make lint

  test:
    runs-on: ubuntu-24.04
    needs: lint

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update and install Linux packages
        run: |
          sudo add-apt-repository ppa:ubuntugis/ubuntugis-unstable
          sudo apt-get update
          sudo apt-get install libgdal-dev gdal-bin python3-gdal

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13.1'
          cache: pip
          cache-dependency-path: |
            'requirements.txt'
            'requirements-dev.txt'

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install Python dependencies
        run: |
          make install
          make install-dev

      - name: Restore data cache
        uses: actions/cache@v4
        with:
          path: Data/
          key: ${{ runner.os }}-data-${{ hashFiles('Data/*') }}
          restore-keys: ${{ runner.os }}-data-

      - name: Download data
        if: ${{ hashFiles('Data/*') == '' }}
        run: make download-soil-data

      - name: Run tests
        run: make test
