name: build

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.2"
          cache: pip
          cache-dependency-path: 'requirements-dev.txt'

      - name: Install Python dependencies
        run: pip install -r requirements-dev.txt

      - name: Run lint checks
        run: make lint

  test:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Linux packages
        run: apt install libgdal-dev gdal

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.2"
          cache: pip
          cache-dependency-path: 'requirements.txt'

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: make test
