name: build

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.0"
          cache: pip
          cache-dependency-path: 'requirements-dev.txt'
        run: pip install -r requirements-dev.txt

      - name: Run lint checks
        run: make lint
